/*! josephkruse.com */

@import 'cv-settings';
@import 'foundation';
@import 'google-fonts';

@include foundation-global-styles;
@include foundation-xy-grid-classes;
//@include foundation-grid;
//@include foundation-flex-grid;
//@include foundation-flex-classes;
@include foundation-typography;
//@include foundation-forms;
@include foundation-button;
//@include foundation-accordion;
//@include foundation-accordion-menu;
//@include foundation-badge;
//@include foundation-breadcrumbs;
@include foundation-button-group;
//@include foundation-callout;
//@include foundation-card;
@include foundation-close-button;
//@include foundation-menu;
//@include foundation-menu-icon;
//@include foundation-drilldown-menu;
//@include foundation-dropdown;
//@include foundation-dropdown-menu;
//@include foundation-responsive-embed;
@include foundation-label;
//@include foundation-media-object;
//@include foundation-off-canvas;
//@include foundation-orbit;
//@include foundation-pagination;
//@include foundation-progress-bar;
//@include foundation-slider;
//@include foundation-sticky;
@include foundation-reveal;
//@include foundation-switch;
//@include foundation-table;
@include foundation-tabs;
//@include foundation-thumbnail;
//@include foundation-title-bar;
//@include foundation-tooltip;
//@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;

$sidebar-width:16rem;
$toptabs-width:4rem;

//.medium-cell-block-y{height:auto;} // fix for apparent bug in sass version of foundation css

.reveal{padding-top: 1.5rem;border-radius:.25rem;}
.reveal, .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6, .reveal p, .reveal pre{color:$black;} // modal text color

.light-text{color:#9fa2a7;}
.democrat{color:get-color(democrat)}
.republican{color:get-color(republican)}
.passed{color:get-color(success)}
.failed{color:get-color(alert)}


.label.democrat{
  background-color:get-color(democrat);
  color:$white;
}

.label.republican{
  background-color:get-color(republican);
  color:$white;
}

.cvMainGrid{
  //padding:0 1rem;
  .cell{padding-bottom:1.5rem;}
}

.cvSidebar{

  background-color:$white;

  // Medium and up styles
  @media screen and #{breakpoint(medium)} {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    width:$sidebar-width;
    height:100vh;
    overflow-y:auto;
  }

  &_siteLogo{
    color:$body-background;
    font-weight:700;
    font-size:2.75rem;
    line-height:1.2;
    text-align:center;
    margin-bottom:0;
    padding:.75rem 0;

    // Medium and up styles
    @media screen and #{breakpoint(medium)} {
      margin:1.5rem 0;
      padding:0;
    }

    i{
      font-size:2.5rem;
      margin-right: .325rem;
    }
  }

  &_nav{
    margin:1.25rem 0;
    padding:0;
  }

  &_navItem{
    display:block;
    padding:.875rem 1rem .875rem 1.375rem;
    background-color:$white;
    color:$dark-gray;
    font-size:1.125rem;
    transition: all 0.3s ease;

    &:hover,&:focus{
      background-color:#f3f3f3;
      color:$black;
    }

    i{margin-right:.75rem;}

  }

  &_divider{
    margin: 1rem 1.375rem;
    border-color:lighten($dark-gray, 20%);
  }

  &_siteLinks{
    margin:1.5rem 0;
    padding:0;
    text-align:center;

    li{
      display:inline-block;
      padding:0 .125rem;
    }
  }

  &_siteLinksItem{
    color:$dark-gray;
    display:block;
    padding:.125rem .25rem;
    font-size:.875rem;
    transition: all 0.3s ease;

      &:hover,&:focus{
        color:$black;
      }
  }


}

.cvTabs{

  .tabs{
    border-bottom:.125rem;
    background-color:lighten($body-background, 70%);
    box-shadow: inset 1rem 1rem 3rem -1rem lighten($body-background, 55%);
  }

  .tabs-title{
    float:right;
  }
  .tabs-title a{
    background-color:lighten($body-background, 55%);
    color:$light-gray;
    font-family:'Merriweather', serif;
    font-size:1rem;
    border-top-left-radius:1em 5em;
    border-top-right-radius:1em 5em;
    background-image:linear-gradient(lighten($body-background, 62%), lighten($body-background, 55%));
    text-shadow: 1px 1px lighten($body-background, 15%);

    @media screen and #{breakpoint(large)} {
      padding-left:2rem;
      padding-right:2rem;
      padding-bottom:1rem;
      margin-right:1rem;
      font-size:2.5rem;
      border-top-left-radius:1em 5em;
      border-top-right-radius:1em 5em;
    }

    transition: all 0.2s ease;

    &:hover{background-color:lighten($body-background, 50%);color:$white;}
    &:focus{outline:none;}
  }

  .is-active>a{
    background-image:none;
    background-color:$body-background;color:$white;
    &:hover{background-color:$body-background;color:$white;}

  }
  .tabs-panel{min-height:95vh;}
}

.cvContent{

  // Medium and up styles
  @media screen and #{breakpoint(medium)} {
    margin-left:$sidebar-width;
    padding:0 0 -1rem 0;
  }

  &_panel{
    background-color:#323c48;
    padding:.75rem 1.25rem;
    margin-bottom:1rem;
    border-radius:.25rem;

    &--recentVotes{

    }
    &--upcomingVotes{

    }
  }
}
