// table for displaying vote results

.cvVoteTable{

  border:none;
  border-collapse: collapse;

  &_rowLabel{
    padding:.25rem .5rem .25rem 0;
    border:none;
    text-align:right;
  }
  &_voteTotal{
    padding:.375rem .5rem;
    border:1px solid $dark-gray;
  }
  &_voteCount{
    padding:.375rem;
    border:1px solid $dark-gray;
    text-align:center;

    &--percent{
      padding:.375rem .5rem;
      font-weight:bold;
      letter-spacing:1px;
    }
    &--graph{
      text-align:left;
    }
  }

  &_lineGraph{

    display:inline-block;
    float:left;
    height:1.5rem;

    &--republican{
      background-color:get-color(republican);
    }
    &--democrat{
      background-color:get-color(democrat);
      margin-right:.375rem;
    }
  }
}
